.archives{
	padding-bottom: 1.5em;
	position: relative;
	.year{
		width: 200px;
		position: absolute;
		padding-top: 1.5em;
		@media screen and (max-width: 600px){
			font-size: 18px;
			position: relative;
			width: 100%;
		}
	}
	article{
		margin-left: 200px;
		&:first-of-type{
			padding-top: 40px;
		}
		padding-top: 0;
		border-top: none;
		@media screen and (max-width: 600px){
			margin-left: 0;
			&:first-of-type{
				padding-top: 0;
			}
		}
		.title{
			margin-bottom: 0;
		}
		.meta{
			color: $color-gray02;
			font-size: 0.9em;
			line-height: 2;
			a{
				color: $color-gray02;
				@include transition(0.3s);
				&:hover{
					color: $color-gray01;
				}
			}
		}
	}
}
